.slide[data-v-6369d26d] {
  position:relative;
  display:block;
  padding:12px
}
.slide .item[data-v-6369d26d] {
  padding:0;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:start;
  background-color:#fff;
  border-radius:30px 0
}
.slide .item .info .image[data-v-6369d26d] {
  position:relative;
  display:block;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  border-radius:30px 0
}
.slide .item .info .image[data-v-6369d26d]:before {
  content:"";
  position:relative;
  display:block;
  padding-bottom:70%
}
.slide .item .info .caption[data-v-6369d26d] {
  color:#000;
  font-size:18px;
  font-weight:700;
  line-height:1.4;
  margin-top:16px;
  padding:0 24px
}
.slide .item .info .content[data-v-6369d26d] {
  color:#000;
  font-size:14px;
  font-weight:300;
  line-height:1.4;
  margin-top:10px;
  padding:0 24px
}
.slide .item .link[data-v-6369d26d] {
  color:var(--ajt-blue);
  font-size:14px;
  font-weight:700;
  line-height:1.4;
  margin:24px;
  padding:0;
  text-decoration:none
}
.carousel-container[data-v-abe43e5f] {
  position:relative;
  display:block;
  width:100%;
  max-width:100%;
  margin-top:var(--e2e83e0c)
}
@media (max-width: 575px) {
  .carousel-container[data-v-abe43e5f] {
    margin-top:var(--8144ae90)
  }
}
.carousel-container .carousel[data-v-abe43e5f] {
  margin:0 -12px
}
@media (max-width: 575px) {
  .carousel-container .carousel.multi[data-v-abe43e5f] {
    padding:0 24px
  }
}
.carousel-container .carousel .controller[data-v-abe43e5f] {
  margin:12px 0
}
@media (min-width: 1521px) {
  .carousel-container .carousel .controller[data-v-abe43e5f] {
    display:none!important
  }
}
.carousel-container .nav[data-v-abe43e5f] {
  position:absolute;
  height:0;
  overflow:visible;
  left:-48px;
  right:-48px;
  top:var(--37a81ce1)
}
@media (max-width: 1520px) {
  .carousel-container .nav[data-v-abe43e5f] {
    display:none!important
  }
}
.carousel-container .nav .prev[data-v-abe43e5f],
.carousel-container .nav .next[data-v-abe43e5f] {
  cursor:pointer;
  height:22px
}
