
                        @media screen and (max-width: 991px) {
                            .p-overlaypanel[pv_id_2] {
                                width: auto !important;
                            }
                        }
                    
                        @media screen and (max-width: 767px) {
                            .p-overlaypanel[pv_id_2] {
                                width: 382px !important;
                            }
                        }
                    
                        @media screen and (max-width: 575px) {
                            .p-overlaypanel[pv_id_2] {
                                width: auto !important;
                            }
                        }
                    