.slide[data-v-d3c4c936] {
  position:relative;
  display:block;
  padding:12px
}
.slide .content[data-v-d3c4c936] {
  position:relative;
  height:var(--9ff3c83a);
  transition:filter .2s
}
.slide .content .box-image[data-v-d3c4c936] {
  display:block;
  flex-grow:0;
  flex-shrink:0;
  height:var(--aa177db4);
  width:100%;
  border-radius:10px;
  border:1px solid #94bbd5;
  background-position:center center;
  background-size:cover;
  background-repeat:no-repeat;
  background-image:var(--819a2336)
}
@media (max-width: 991px) {
  .slide .content .box-image[data-v-d3c4c936] {
    border-width:0;
    background-image:var(--819a2336);
    background-position:0 center;
    background-size:auto
  }
}
@media (max-width: 768px) {
  .slide .content .box-image[data-v-d3c4c936] {
    border-width:1px;
    background-image:var(--1652c844);
    background-position:0 center
  }
}
@media (max-width: 465px) {
  .slide .content .box-image[data-v-d3c4c936] {
    background-image:var(--1652c844)
  }
}
.slide .content .box-info[data-v-d3c4c936] {
  flex-grow:1;
  flex-shrink:1
}
.slide .content .box-info .date[data-v-d3c4c936] {
  color:#9fa9b5;
  font-size:14px;
  font-weight:400;
  line-height:1.4
}
.slide .content .box-info .caption[data-v-d3c4c936] {
  color:var(--ajt-dark);
  font-size:18px;
  font-style:normal;
  font-weight:700;
  line-height:1.4;
  width:100%;
  max-width:360px
}
.slide .content[data-v-d3c4c936]:hover {
  filter:brightness(1.1)
}
.slide.small .content .box-info .date[data-v-d3c4c936] {
  font-size:10px
}
.slide.small .content .box-info .caption[data-v-d3c4c936] {
  font-size:14px
}
